{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-vars": "warn",
    "react/prop-types": "off",
    "no-undef": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "no-extra-boolean-cast": "off"
  },
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 11
  }
}
