.containerStyle {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: flex-start;
	padding: 5px;
	--buttonheight: 50px;
	--buttonwidth: 107px;
	/*107px;*/
	--lineWidth: 3px;
	--firstColumnSpacing: calc(var(--buttonheight) / 2);
	--secondColumnSpacing: calc(var(--buttonheight) * 2);
	--thirdColumnSpacing: calc(var(--buttonheight) * 5);
	--fourthColumnSpacing: calc(var(--buttonheight) * 11);
	--fifthColumnSpacing: calc(var(--buttonheight) * 23);
	--sixthColumnSpacing: calc(var(--buttonheight) * 47);
	--seventhColumnSpacing: calc(var(--buttonheight) * 95);
	--eigthColumnSpacing: calc(var(--buttonheight) * 191);
	--ninthColumnSpacing: calc(var(--buttonheight) * 383);
}

.largeContainerStyle {
	display: inline-block;
}

.holderStyle {
	width: unset;
}

.columnStyle {
	display: flex;
	flex-direction: column;
	/* flex-grow: 1; */
	/* flex-basis: 107px; */
}

.loading {
	font-weight: bold;
}

.lineStyle {
	width: var(--lineWidth);
	background-color: gray;
}

.lineLeftStyle {
	margin-left: calc((var(--buttonwidth)) - (var(--lineWidth)));
}

.lineRightStyle {
	margin-left: 0px;
}

.firstColumnLineStyle {
	height: var(--firstColumnSpacing);
}

.secondColumnLineStyle {
	height: var(--secondColumnSpacing);
}

.thirdColumnLineStyle {
	height: var(--thirdColumnSpacing);
}

.fourthColumnLineStyle {
	height: var(--fourthColumnSpacing);
}

.fifthColumnLineStyle {
	height: var(--fifthColumnSpacing);
}

.sixthColumnLineStyle {
	height: var(--sixthColumnSpacing);
}

.seventhColumnLineStyle {
	height: var(--seventhColumnSpacing);
}

.eigthColumnLineStyle {
	height: var(--eigthColumnSpacing);
}

.ninthColumnLineStyle {
	height: var(--ninthColumnSpacing);
}


.firstColumnStyle {
	margin-top: var(--firstColumnSpacing);
}

.secondColumnStyle {
	margin-top: var(--secondColumnSpacing);
}

.thirdColumnStyle {
	margin-top: var(--thirdColumnSpacing);
}

.fourthColumnStyle {
	margin-top: var(--fourthColumnSpacing);
}

.fifthColumnStyle {
	margin-top: var(--fifthColumnSpacing);
}

.sixthColumnStyle {
	margin-top: var(--sixthColumnSpacing);
}

.seventhColumnStyle {
	margin-top: var(--seventhColumnSpacing);
}

.eigthColumnStyle {
	margin-top: var(--eigthColumnSpacing);
}

.ninthColumnStyle {
	margin-top: var(--ninthColumnSpacing);
}



.secondColumnStyleTop {
	margin-top: calc(var(--buttonheight)*1.25);
}

.thirdColumnStyleTop {
	margin-top: calc(var(--buttonheight) * 2.75);
}

.fourthColumnStyleTop {
	margin-top: calc(var(--buttonheight) * 5.75);
}

.fifthColumnStyleTop {
	margin-top: calc(var(--buttonheight) * 11.75);
}

.sixthColumnStyleTop {
	margin-top: calc(var(--buttonheight) * 23.75);
}

.seventhColumnStyleTop {
	margin-top: calc(var(--buttonheight) * 47.75);
}

.eigthColumnStyleTop {
	margin-top: calc(var(--buttonheight) * 95.75);
}

.ninthColumnStyleTop {
	margin-top: calc(var(--buttonheight) * 191.75);
}

/* 3, 7, 15, 31, 63, 127*/
/*   4  8  16  32  64*/