.containerStyle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	--buttonheight: 3em;
}

.columnStyle {
	display: flex;
	flex-direction: column;
}

.firstColumnStyle {
	margin-top: calc(var(--buttonheight) / 2);
}

.secondColumnStyle {
	margin-top: calc(var(--buttonheight) * 2);
}

.thirdColumnStyle {
	margin-top: calc(var(--buttonheight) * 5);
}

.fourthColumnStyle {
	margin-top: calc(var(--buttonheight) * 11);
}

.fifthColumnStyle {
	margin-top: calc(var(--buttonheight) * 23)
}

.sixthColumnStyle {
	margin-top: calc(var(--buttonheight) * 47)
}

.seventhColumnStyle {
	margin-top: calc(var(--buttonheight) * 95)
}



.secondColumnStyleTop {
	margin-top: calc(var(--buttonheight)*1.25);
}

.thirdColumnStyleTop {
	margin-top: calc(var(--buttonheight) * 2.75);
}

.fourthColumnStyleTop {
	margin-top: calc(var(--buttonheight) * 5.75);
}

.fifthColumnStyleTop {
	margin-top: calc(var(--buttonheight) * 11.75);
}

.sixthColumnStyleTop {
	margin-top: calc(var(--buttonheight) * 23.75);
}

.seventhColumnStyleTop {
	margin-top: calc(var(--buttonheight) * 47.75);
}

/* 3, 7, 15, 31, 63, 127*/
/*   4  8  16  32  64*/