.buttonStyle {
	border-radius: 50px;
	font-size: 1em;
	background-color: black;
	color: white;
	padding: .5em;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align: center;
}

.logoStyle {
	height: 1.5em;
}