.barStyle {
	max-width: 800px;
	width: auto;
	border-radius: 50px;
	border-width: 1px;
	font-size: 1.25em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding-left: 10px;
	margin-bottom: .5em;
}

.holderStyle {
	display: block;
}