.songDivStyle {
	background-color: red;
	color: white;
	border-radius: 1em;
	border: none;
	/*border-color: transparent;
	border-style: outset;
	*/
	box-shadow: 0px 0px 8px black;
	cursor: pointer;
	width: var(--buttonwidth);
	min-width: var(--buttonwidth);
	height: var(--buttonheight);
	min-height: var(--buttonheight);
	display: flex;
}

.songDivStyle.leftStyle {
	flex-direction: row-reverse;
}

.songDivStyle.rightStyle {
	flex-direction: reverse;
}

.songButtonStyle {
	border-radius: 1em;
	background-color: red;
	color: white;
	border: none;
	width: 70%;
	height: 100%;
	min-height: var(--buttonheight);
	line-height: 1.2em;
	cursor: inherit;
	border-radius: inherit;
	padding: 0;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	line-break: loose;
}

.songButtonStyle.leftStyle {
	padding-right: 6px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.songButtonStyle.rightStyle {
	padding-left: 6px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.songDivStyle:hover {
	height: auto;
	display: flex;
}

.playButtonStyle {
	background-color: green;
	color: white;
	border: none;
	width: 30%;
	height: 100%;
	min-height: var(--buttonheight);
	cursor: inherit;
	border-radius: inherit;
	text-align: center;
	padding: 0;
}

.playButtonStyle.leftStyle {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.playButtonStyle.rightStyle {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.songDivStyle.disabledStyle {
	cursor: default;
	box-shadow: none;
	width: var(--buttonwidth);
	/* opacity: .8; */
}

.songDivStyle.unfilledStyle {
	background-color: white;
	color: black;
	box-shadow: 0px 0px 8px black;
	border-width: 0px;
	border-style: ridge;
	border-color: gray;
}

.songButtonStyle:disabled {
	width: 100%;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: inherit;
}

.songButtonStyle.unfilledStyle:disabled {
	width: 100%;
	background-color: transparent;
	color: black;
}

.songDivStyle.unfilledStyle.disabledStyle {
	background-color: white;
	color: black;
}

/* .songDivStyle.winnerStyle {
	border-width: 3px !important;
	border-style: solid;
	border-color: black !important;
	width: calc(var(--buttonwidth) - 6px);
	height: calc(var(--buttonheight) - 6px);
}

.songButtonStyle.eliminatedStyle {
	opacity: .65;
	background-color: white !important;
	color: black !important;
} */

.songDivStyle.eliminatedStyle {
	opacity: .5;
}

.winnerStyle {
	opacity: 1;
}