.songButtonStyle {
	background-color: red;
	color: white;
	border-radius: 1em;
	border-width: 3px;
	border-color: red;
	cursor: pointer;
	width: var(--buttonwidth);
	height: var(--buttonheight);
	/* word-wrap: break-word; */
	overflow: hidden;
	text-overflow: ellipsis;
	/* box-shadow: 0px 0px 15px 1px green; */
}

.songButtonStyle:disabled {
	cursor: default;
	box-shadow: none;
	/* opacity: .8; */
	border: none;
}

.songButtonStyle.unfilledStyle {
	background-color: white;
	color: black;
	border-style: ridge;
}

.songButtonStyle.unfilledStyle:disabled {
	background-color: white;
	color: black;
}

.songButtonStyle.winnerStyle {
	border-color: yellow;
	border-width: 5px;
}

.songButtonStyle.eliminatedStyle {
	/* opacity: .65; */
	border: none;
}