.songButtonStyle {
	background-color: red;
	color: white;
	border-radius: 1em;
	border-width: 0px;
	/*border-color: transparent;
	border-style: outset;
	*/
	box-shadow: 0px 0px 8px black;
	cursor: pointer;
	width: var(--buttonwidth);
	height: var(--buttonheight);
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.2em;
}

.songButtonStyle:disabled {
	cursor: default;
	box-shadow: none;
	border-width: 0px;
	/* opacity: .8; */
}

.songButtonStyle.unfilledStyle {
	background-color: white;
	color: black;
	border-width: 2px;
	border-style: ridge;
	border-color: gray;
}

.songButtonStyle.unfilledStyle:disabled {
	background-color: white;
	color: black;
}

.songButtonStyle.winnerStyle {
	border-width: 5px !important;
	border-color: yellow !important;
}

.songButtonStyle.eliminatedStyle {
	/* opacity: .65; */
	border-width: none;
}